$Image_1: url("./img/Image1.jpg");
$Image_2: url("./img/Image2.jpg");
$Image_3: url("./img/Image3.jpg");
$Small_1: url("./img/Small1.jpg");
$Small_2: url("./img/Small2.jpg");
$Small_3: url("./img/Small3.jpg");