@import "css_reset";
@import "sections";

@mixin set_background_image($Image) { 
    background-image: $Image;
    height: 100vh;
    opacity: 0.7;
    display:flex;
    align-items: center;
    justify-content: center;
}

@mixin set_large_background_title {
    width: 100%;
    text-align:center;
    letter-spacing: 1.5vw;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 5vw;
    background-color: rgba(255,0,0,0.7);
    position:sticky;
    top:0;
    box-shadow: 0 8px 6px -6px black
}

@mixin set_small_background_title {
    text-align:center;
    font-family: 'Poppins', sans-serif;
    color: white;
    width:auto;
    font-size: 3vw;
    padding-right: 2vw;
    padding-left: 2vw;
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid #f2f2f2;
    outline: 1px solid #f2f2f2;
    outline-offset: -5px;
    position:sticky;
    top:0;
    box-shadow: 0 8px 6px -6px black

}

@mixin set_information_style {
    h2 {
        color: #666;
        text-align: center;
        font-family: Poppins;
        margin-bottom: 3vw;
        letter-spacing: 0.6vw;
    }

    p {
        font-family: Arial, Helvetica, sans-serif;
        line-height: 2.3vw;
        text-align: justify;
        padding: 0 3vw 0 3vw;
    }

}


// --------------------------------------------------


.large_image {
    @include set_background_image($Image_1);
    .large_image_title {
        @include set_large_background_title;

    }
}


.information {
    padding: 3.5vw 1vw;
    @include set_information_style;
}


.gray_bg {
    background-color: #f2f2f2;
}

.small_image_1 {
    @include set_background_image($Image_2);
    height: 40vh;
    background-attachment: fixed;
    .small_image_title {
        @include set_small_background_title;
    }
}

.small_image_2 {
    @include set_background_image($Image_3);
    height: 40vh;
    background-attachment: fixed;
    .small_image_title {
        @include set_small_background_title;
    }
}

.black_bg {
    h2 {
        color: #f2f2f2;
    }
    color: #f2f2f2;
    background-color:#2f3542 ;
}
// --------------MEDIA------------

@media  (max-width: 640px) {

    .large_image {
        @include set_background_image($Image_1);
        background-position: center;
        background-repeat: no-repeat;
        .large_image_title {
            @include set_large_background_title;  
            font-size: 30px;  
        }
    }

    .small_image_1 {
        @include set_background_image($Image_2);
        height: 50vh;
        background-position: center;
        background-repeat: no-repeat;
        .small_image_title {
            @include set_small_background_title;
            font-size: 25px;
            padding-right: 4vw;
            padding-left: 4vw;
        }
    }
    
    .small_image_2 {
        @include set_background_image($Image_3);
        height: 50vh;
        background-position: center;
        background-repeat: no-repeat;
        .small_image_title {
            @include set_small_background_title;
            font-size: 25px;
            padding-right: 4vw;
            padding-left: 4vw;
        }
    }

    .information {
        padding: 3.5vw 1vw;
        @include set_information_style;
        h2 {
            color: #666;
            text-align: center;
            font-family: Poppins;
            margin-bottom: 3vw;
            letter-spacing: 0.5vw;
        }
    
        p {
            font-family: Arial, Helvetica, sans-serif;
            line-height: 5vw;
            text-align: justify;
            padding: 0 3vw 0 3vw;
        }
    }


}


